*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=text], 
input[type=password], 
input[type=email], 
input[type=search],
input[type=date],
input[type=time],
input[type=number],
textarea{
    width: 100%;
    height: 50px;
    background-color: white;
    color: #828282;
    border: 1px solid rgba(209,209,209,0.56);
    border-radius: 3px;
    padding-left: 15px;
    outline-color: #0067f5;
    margin-top: 15px;
}

button{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    padding: .5em 2em;
    border: none;
    background: #4A90E2;
    box-shadow: 0 2px 0 0 #316CB0;
    border-radius: 6px;
    outline: none;
}

/* Homepage Styles */
header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: lightpink; */
    box-shadow: 0px 4px 8px rgb(0,0,0,0.5);
    text-align: center;
}

.background{
    background-color: lightpink;
}

.main-header__nav a{
    text-decoration: none;
    color: blue;
}
.brand-header{
    text-decoration: none;
    color: blue;
}

/* .brand-title{
    font-family: 'Lobster', cursive;
    font-weight: 700;
    font-size: 3rem;
} */

.main-header__menu{
    list-style: none;
    display: flex;
}

.main-header__menulist{
    margin: 0 8px;
}

/* Hero Section */
.hero{
    background: url('./img/background-image.jpg') left 0% top 30%/cover no-repeat border-box hsl(200, 33%, 96%);
    height: 100vh;
}

/* Sign In */
.sign-in__section,
.sign-up__section{
    height: 100vh;
    background-color: hsl(200, 33%, 96%);
    padding-top: 10rem;
}

.sign-up__section{
    padding-top: 8rem;
}

.login-form__container,
.signup-form__container{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid hsl(200, 33%, 96%);
    border-top: 8px solid pink;
}

.login-form,
.signup-form{
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: white;
}

.sign-in__cta,
.sign-up__cta{
    width: 100%;
    margin-top: 1rem;
}

.remember-me{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.sign-up__space{
    background-color: hsl(200, 25%, 88%);
    padding: 1rem 0rem;
    text-align: center;
}

.name-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-details input[type=text]{
    width: 49%;
}

/* Features Section */
.features-section{
    background-color: hsl(200, 33%, 96%);
}
.features,
.features-extended__list{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.features-list img{
    height: 200px;
    width: 200px;
}

.features-list{
    width: 33%;
    padding: 1.25rem;
    text-align: center;
}

.features-list > *{
    margin: 0.5rem 0rem;
}

.feature-details{
    padding: 0 2rem;
}

.features-extended__list{
    padding: 1.5rem 3.75rem;
}

.extended-images img{
    width: 200px;
    height: 200px;
}

#genuine-products div.extended-content{
    margin-right: 2rem;
}

#secure div.extended-content{
    margin-left: 2rem;
}

.testimonial-section{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 3.75rem;
    margin: 0 auto;
    background-color: antiquewhite;
}

.testimonial-carousel__box{
    padding: 1rem 0;
    text-align: center;
}

.testimonial img{
    height: 200px;
    width: 200px;
    border: 2px solid pink;
    border-radius: 50%;
}

footer{
    height: 30vh;
    background-color: lightcoral;
}

.footer-header{
    display: flex;
}

.contact-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid hsl(200, 25%, 88%);
    padding-top: 0.4rem;
    margin: 1rem auto;
    width: 80%;

}

.contact-info{
    display: inherit;
}
/* Medium Screen */
@media only screen and (min-width: 481px) and (max-width: 768px){
    .hero{
        background-position: center;
    }
}

/* Small display */
@media only screen and (max-width: 480px){
    .main-header__nav{
        display: none;
    }
    .features,
    .features-extended__list{
        flex-direction: column;
    }
    .features-list{
        width: 100%;
    }
    #secure{
        flex-direction: column-reverse;
    }
}

